img{
    position: absolute;
    z-index: 1;
    width: 14 vh;
    height: 14vh;
}

.img1{
    width: 14.5 vh;
    height: 15vh;
    top: 0.6vh;
    left: 15.5vh;
}

.img2{
    top: 1.3vh;
    left: 16.8vh;
}

.img3{
    top: 1.5vh;
    left: 15.8vh;
}

.img4{
    top: 1.5vh;
    left: 16.8vh;
}

.img5_1{
    top: 1.5vh;
    left: 15.3vh;
}

.img5_2{
    width: 12 vh;
    height: 12vh;
    top: 12vh;
    left: 15.7vh;
    
}
 /*Triangolini*/
/* .tr1{  
    position: absolute;
    clip-path: polygon(3vh 0vh, 4vh 0vh, 3.5vh 0.5vh);
    height: 17vh;
    width: 15vh;
    z-index: 1;
    top: 0vh;
    left: 15vh;
    background-color: var(--yellow);
} */

.angolo1{
    position: absolute;
    clip-path: polygon(0vh 0vh, 0vh 2.3vh, 0.5vh 1.5vh, 0.5vh 0.5vh, 1.5vh 0.5vh, 2.3vh 0vh);
    height: 17vh;
    width: 15vh;
    background-color: var(--yellow);
    top: 0vh;

}

.angolo1-1{
    left: 15vh;
}

.angolo1-2{
    left: 25vh;
    transform: scaleX(-1) scaleY(-1);
}

.angolo1-3{
    left: 25vh;
    transform: scaleX(-1);
}

.angolo1-4{
    left: 15vh;
    transform: scaleY(-1);
}

.angolo2{
    position: absolute;
    background-color: var(--yellow);
    height: 17vh;
    width: 15vh;
    top: 0vh;

    clip-path: polygon(   
        0 6.3vh, 
        1.8vh 4.5vh,
        1.1vh 4vh, 
        2.3vh 2.9vh, 
        1.5vh 2.3vh, 
        1.5vh 2.8vh,
        0.8vh 2.8vh,
        0.8vh 2.3vh,
        3.8vh 0.5vh,
        4.5vh 0.5vh,
        4.6vh 1vh,
        3.9vh 1vh,
        4.9vh 1.7vh,
        6.7vh 0vh,

        7.5vh 0vh,
        4.9vh 2.4vh,
        3.5vh 1.3vh,
        2.3vh 2.1vh,
        2.45vh 2.3vh, 
        3.15vh 2.9vh, 
        1.9vh 4vh, 
        2.6vh 4.5vh,
        0 7vh
        );
}

.angolo2-1{
    left: 15vh;
}

.angolo2-2{
    left: 15vh;
    transform: scaleY(-1);
}

.angolo2-3{
    left: 25vh;
    transform: scaleX(-1) scaleY(-1);

}

.angolo2-4{
    left: 25vh;
    transform: scaleX(-1);

}
  
#div2{
    position: absolute;
    top: 17vh;
    left: 0;
}

#div3{
    position: absolute;
    top: 34vh;
    left: 0;
}

#div4{
    position: absolute;
    top: 51vh;
    left: 0;
}
#div5{
    position: absolute;
    top: 68vh;
    left: 0;
}

